.movieRow {
	margin-bottom: 30px;
}

.movieRow h2 {
	margin: 0px 0px 0px 30px;
}

.movieRow--listArea {
	overflow-x: hidden;
	padding-left: 30px;
}

.movieRow:hover .movieRow--leftIcon,
.movieRow:hover .movieRow--rightIcon {
	opacity: 1;
}

.movieRow--item {
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

.movieRow--item img {
	width: 100%;
	transform: scale(0.9);
	transition: all ease 0.2s;
}

.movieRow--item img:hover {
	transform: scale(1);
}

.movieRow--list {
	transition: all ease 0.5s;
}

.movieRow--leftIcon,
.movieRow--rightIcon {
	position: absolute;
	width: 40px;
	height: 225px;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	opacity: 0;
	transition: all ease 0.5s;
}

.movieRow--leftIcon {
	left: 0;
}

.movieRow--rightIcon {
	right: 0;
}

@media (max-width: 760px) {
	.movieRow--leftIcon,
	.movieRow--rightIcon {
		opacity: 1;
	}
}
